In [1]:
import pandas as pd
import numpy as np

### Criando tuplas

In [2]:
# Apenas os parenteses
()

()

In [3]:
# Apenas com numeros separados por virgula a direita
1, 2, 3

(1, 2, 3)

In [4]:
# Passando uma variavel com mais de um item dentro, usando a função tuple()

nome = 'Passat', 'DS5'
tuple(nome)

('Passat', 'DS5')

In [5]:
# Quando criamos as variaveis, não precisamos passar com a função tuple()

nomes = 'Passsat'
valores = 150000
(nomes, valores)

('Passsat', 150000)

In [6]:
# Apenas com tuple

nomes_carros = tuple(['Passat', 'Jetta Variant', 'Fusca', 'Kombi'])
nomes_carros

('Passat', 'Jetta Variant', 'Fusca', 'Kombi')

In [7]:
# Tipo de dados da variavel 
type(nomes_carros)

tuple

### Seleção de valores dentro das tuplas

In [8]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [9]:
# Ele segue a mesma linha  que os array numpy e as listas
nomes_carros[0]

'Jetta Variant'

In [10]:
# Podemos fazer slices tbm aqui nas tuplas

nomes_carros[:3]

('Jetta Variant', 'Passat', 'Crossfox')

In [11]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [12]:
nomes_carros[2:]

('Crossfox', 'DS5')

In [13]:
# Pegando o item dentro de uma tupla dentro de outra tupla
nomes_carros_2 = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros_2

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [14]:
nomes_carros_2[-1][1]

'Gol'

### Iterador de tuplas

In [15]:
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [16]:
for item in nomes_carros:
    print(item)

Jetta Variant
Passat
Crossfox
DS5

In [17]:
# Desempacotamento da tupla
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [18]:
carro_1

'Jetta Variant'

In [19]:
carro_2

'Passat'

In [20]:
# Podemos atribuir apenas duas variaveis 
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [21]:
_,A,_,B = nomes_carros

In [22]:
A

'Passat'

In [23]:
B

'DS5'

In [24]:
# Podemos atribuir apenas uma variavel
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [25]:
# Esse *_ é uma dica para não precisar ficar colocando underline em todas os itens dentro da tupla
_,C,*_ = nomes_carros

In [26]:
C

'Passat'

In [27]:
# Podemos fazer isso tudo com a função zip()

carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [28]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [29]:
# Quando aparece esse at ... quer dizer que a zip foi criada com sucesso
zip(carros,valores)

In [30]:
# Caso eu queira visualizar minha zip, podemos atribui junto com a list ()
list(zip(carros,valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [31]:
# Com a zip podemos criar varios caminhos, como por exemplo fazer uma iteração para saber os carros >10000
for item in zip(carros,valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [32]:
for carro, valor in zip(carros,valores):
    print (carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [33]:
for carro, valor in zip(carros,valores):
    if(valor>100000):
        print(carro)

Passat
DS5

### Criando dicionarios

In [34]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [35]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [36]:
# Para acessar essas listas usamos apenas um index
carros[0]

'Jetta Variant'

In [37]:
valores[1]

106161.94

In [38]:
'''Para acessar o valor do carro precisariamos saber o index dele, pois aqui nesse exemplo é pequeno, mas se fosse uma lista
com muitos elementos dentro, teriamos um pouco mais de dificuldade'''
carros.index('Passat')

1

In [39]:
valores[carros.index('Passat')]

106161.94

In [40]:
# Temos que fazer dois passos para ter o valor do Passat, com dicionários os valores já ficam juntos as chaves

dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [41]:
# Outra forma de criarmos o dicionário, uma forma mais simples
dados = dict(zip(carros, valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [42]:
# Passando outra fonte de dados para exemplificar mais uma vez
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [43]:
dados_3 = dict(zip(nomes,kms))
dados_3

{'Passat': 15000, 'Crossfox': 12000, 'DS5': 32000, 'C4': 8000, 'Jetta': 50000}

### Operações com dicionários

In [44]:
# Criamos um dicionario
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [45]:
# Verificando se estão no nosso dicionario
'Passat' in dados

True

In [46]:
'Fusca' in dados

False

In [47]:
'Fusca' not in dados

True

In [48]:
# Acessando valor pela chave
dados['Passat']

106161.94

In [49]:
# Quantidade de chaves presente
len(dados)

3

In [50]:
# Incluindo mais uma chave ao nosso dicionario
dados['DS5'] = 124549.07

In [51]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [52]:
# Deletando uma chave no nosso dicionario
del dados ['Passat']
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [53]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [54]:
# Testar se a chave acessorios existe no dicionário de informações do carro Passat (Resposta: True)
'acessorios' in dados ['Passat']

True

In [55]:
# Testar se a chave acessorios existe no dicionário de informações do carro Crossfox (Resposta: False)
'acessorios' in dados['Crossfox']

False

In [56]:
# Obter o valor do carro Crossfox (Resposta: 25000)
dados ['Crossfox']['valor']

25000

In [57]:
# Acessar o último acessório do carro Passat (Resposta: 'ABS')
dados ['Passat']['acessorios'][-1]

'ABS'

### Metodos de dicionario

In [58]:
# Criando um dicionario
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [59]:
# Adicionando o DS5 ao dicionario
dados['DS5'] = 124549.07
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [60]:
# Deletando o Passat
del dados['Passat']
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [61]:
# Fazendo um update, adicionando o passat
dados.update({'Passat': 106161.94})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94}

In [62]:
# Fazendo update para atualizar item no dicionario
dados.update({'Passat':106161.95, 'Fusca': 15000.00})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95,
 'Fusca': 15000.0}

In [63]:
# Fazendo uma exclusão de uma chave
dados.pop('Fusca')
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95}

In [64]:
# Fazendo copia sem ligação com o dados
dados_copiado = dados.copy()
dados_copiado

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95}

In [65]:
dados_copiado.update({'Fusca': 15000.00})
dados_copiado

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95,
 'Fusca': 15000.0}

In [66]:
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95}

In [67]:
# Excluindo um dicionario todo
dados_copiado.clear()

In [68]:
dados_copiado

{}

### Iteração de Dicionarios

In [69]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07,  'Fusca': 150000,  'Jetta Variant': 88078.64,  'Passat': 106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [70]:
# Usando o metodo keys, que retorna as chaves do nosso dicionario
dados.keys()

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta Variant', 'Passat'])

In [71]:
# Usando o metodo values, que retorna os valores do nosso dicionario
dados.values()

dict_values([72832.16, 124549.07, 150000, 88078.64, 106161.95])

In [72]:
# Fazendo uma iteração, printando os carros do nosso dicionario
for carro in dados.keys():
    print(carro)

Crossfox
DS5
Fusca
Jetta Variant
Passat

In [73]:
# Fazendo uma iteração, printando os valores do nosso dicionario
for valor in dados.values():
    print(valor)

72832.16
124549.07
150000
88078.64
106161.95

In [74]:
# Printando os valores de uma forma diferente
for chave in dados.keys():
    print(dados[chave])

72832.16
124549.07
150000
88078.64
106161.95

In [75]:
# Usando o metodo items, para fazer uma iteração e assim conseguir usar o if para ter uma condicional
for carro, valor in dados.items():
    if(valor>100000):
        print(carro)

DS5
Fusca
Passat

In [76]:
# O metodo item retorna como se fosse um zip()
dados.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 150000), ('Jetta Variant', 88078.64), ('Passat', 106161.95)])

In [77]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [78]:
# Código que imprime somente os nomes dos veículos com ano de fabricação maior ou igual a 2000.

for dados in dados.items():
    if(dados[1]['ano'] > 2000):
        print(dados[0])

Crossfox
DS5
Jetta

### Criando built in function

In [79]:
# Vamos fingir que não existe a função média e precisa ser criado uma função para média dos meus valores
# Vamos fazer a mais simples mas a menos ultil

def media ():                  # é a menos util pois eu precisaria passar todas as vezes os mesmos numeros para a média 
    valor = (1+2+3)/3          # e sempre que irei somar outros 3 numero, precisaria criar outra função
    print(valor)

In [80]:
# Agora criando uma função onde eu conseguiria somar quaisquer 3 numeros

def media (number_01, number_02, number_03):
    valor = (number_01 + number_02 + number_03)/3
    print(valor)

In [81]:
media(24,34,25)

27.666666666666668

In [82]:
'''Agora e se não soubessemos quantos valores precisariamos criar uma média, 
e criar uma função que ficasse com espaços ilimitados para a média'''

def media(lista):
    valor = sum(lista)/len(lista)
    print(valor)

In [83]:
media([10,10,10,10,10,10,10])

10.0

In [84]:
media(range(10))

4.5

### Exercicio

In [85]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [86]:
# Criando uma função de media anual do veiculo
def km_media(dataset, ano_atual): # Passando os parametros dataset e o ano em que esta presente
    for item in dataset.items(): # Passando um for junto com o metodo items, para ele conseguir fazer uma iteração. Passei como dataset, para quando eu usar outros banco de dados eu nao ficar restringido a apenas uma variavel.
        result = item[1]['km']/ (ano_atual - item[1]['ano']) # iterador posição 1 pegando km, dividido por ano atual colocado em parametro - iterador na posição 1 pegando ano
        print(result)

In [87]:
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

In [88]:
type(dados)

dict

## Pandas

In [89]:
import pandas as pd

In [90]:
dataset = pd.read_csv('dados/db.csv', sep = ';', index_col = 0)

In [91]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

### Seleção de colunas de Dataframes

In [92]:
dataset[['Motor']]

                                       Motor
Nome
Jetta Variant                Motor 4.0 Turbo
Passat                          Motor Diesel
Crossfox                     Motor Diesel V8
DS5                          Motor 2.4 Turbo
Aston Martin DB4             Motor 2.4 Turbo
...                                      ...
Phantom 2013                        Motor V8
Cadillac Ciel concept               Motor V8
Classe GLK             Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                Motor Diesel
Macan                        Motor Diesel V6

[258 rows x 1 columns]

In [93]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [94]:
# Usando o .loc
dataset.loc[['Passat']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [95]:
dataset.loc[['DS5'],['Valor']]

          Valor
Nome
DS5   124549.07

In [96]:
# Usando o .iloc
# Usando apenas um numero dentro dos colchetes, ele retorna a primeira linha com todas as colunas em forma de conjunto de series
dataset.iloc[1]

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [97]:
type(dataset.iloc[1])

pandas.core.series.Series

In [98]:
# Usando mais de um elementro dentro desse primeiro colchete, ele retorna a linha e a coluna
dataset.iloc[1,4]

"['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento']"

In [99]:
'''Usando com dois colchetes ele retorna um DataFrame do segundo veiculo e do quinto do data frame, ele não segue a 
mesma ideia que apenas um colchete de retorno de linha e coluna'''

dataset.iloc[[1,4]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [100]:
# Se eu quero uma coluna especifica e mais de uma linhas em formato de Dataframe

dataset.iloc[[1,4], [1,3,4]]

,Ano,Zero_km,Acessórios
Nome,,,
Passat,1991,False,"['Central multimídia', 'Teto panorâmico', 'Fre..."
Aston Martin DB4,2006,False,"['Rodas de liga', '4 X 4', 'Central multimídia..."

In [101]:
# ou se eu quiser de outra ordem

dataset.iloc[[1,4], [1,4,3]]

,Ano,Acessórios,Zero_km
Nome,,,
Passat,1991,"['Central multimídia', 'Teto panorâmico', 'Fre...",False
Aston Martin DB4,2006,"['Rodas de liga', '4 X 4', 'Central multimídia...",False

In [102]:
# Exercicio
dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados)

In [103]:
dataset

       Nome            Motor   Ano  Quilometragem  Zero_km     Valor
0     Jetta  Motor 4.0 Turbo  2019            0.0     True   88000.0
1    Passat     Motor Diesel  2003         5712.0    False  106000.0
2  Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
3       DS5        Motor 2.0  2019            0.0     True   89000.0
4     Fusca        Motor 1.6  1990       120000.0    False   32000.0

In [104]:
'''Contenha o código que seleciona somente as informações de Nome, Ano, Quilometragem e Valor dos carros Passat e Crossfox.'''

dataset.iloc[[1,2], [0,2,3,5]]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [105]:
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor']][1:3]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [106]:
dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [107]:
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5             Motor 2.0  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [108]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [109]:
# Fazendo a mesma seleção, mas com o iloc
dataset.iloc[[1,3], [0,4]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [110]:
# Recuperando o dataset
dataset = pd.read_csv('dados/db.csv', sep = ';', index_col = 0)

In [111]:
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [112]:
# Fazendo a seleção de apenas os carros que possuem motor diesel 
selecao = dataset.Motor == 'Motor Diesel'

In [113]:
# # Fazendo a seleção de apenas os carros que possuem motor diesel e colocando em data frame
dataset[selecao]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Freios ABS', 'Câmera de estacionamento', 'Câ...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Câmera de estacionamento', '4 X 4', 'Travas ...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Teto panorâmico', '4 X 4', 'Bancos de couro'...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimídia', 'Ar condiciona...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Câmbio automático', 'Freios ABS', '...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Bancos de couro', 'Sensor de chuva', 'Ar con...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Freios ABS', 'Teto panorâmico', 'Central mul...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Teto panorâmico', 'Câmb...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Controle de tração', 'Ar condicionado', 'Tra...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Controle de tração', 'Piloto automático', 'T...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Controle de tração', 'Sensor de estacionamen...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de chuva', 'Vidros elétricos', 'Contr...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Rodas de liga', 'Sensor crepuscular', 'Ar co...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

In [114]:
# colocando mais de uma condição na seleção
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

In [115]:
# Fazendo a mesma seleção mas em formato de query
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

### Exercicio

In [116]:
# Criando Data frame
dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [117]:
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5          Motor Diesel  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [118]:
# Fazendo um filtro com query para fazer algumas seleções no meu dataframe
dataset.query('Motor == "Motor Diesel" or Motor == "Motor 4.0 Turbo"')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [119]:
# Outra forma de fazer a seleção
dataset[(dataset.Motor == "Motor Diesel") | (dataset.Motor == "Motor 4.0 Turbo")]

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [120]:
# Mais uma forma de fazer a seleção
dataset.query('Motor == "Motor Diesel" or Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [121]:
# O modo Query aceita qualquer forma de operador lógico, ou seja, pode usar o or ou o |
dataset.query('Motor == "Motor Diesel" | Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

### Iterando Data frame

In [123]:
# colocando o dataset original novamente 
dataset = pd.read_csv('dados/db.csv', sep = ';', index_col = 0)

In [124]:
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [125]:
# Informação do dataset, com uma anomalia em Quilometragem que iremos tratar
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 12.3+ KB

In [128]:
'''Fazemos uma iteração para desempacotar e colocar em uma nova coluna os valores medios dos km,
 fazendo assim tambem o tratamento.'''

for index, row in dataset.iterrows():
    if(2019 - row['Ano'] != 0):
        dataset.loc[index, 'Km_media'] = row['Quilometragem']/(2019 - row['Ano'])
    else:
        dataset.loc[index, 'Km_media'] = 0
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

In [129]:
# Fazer um tratamento para os valores NaN de Quilometragem

dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [130]:
# Puxando no data frame todos os veiculos que possuem NaN em sua quilometragem
dataset[dataset.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [135]:
# Aplicando o fillna para preencher todos os arquivos nulos por 0, e colocando o inplace True para ele gravae no dataframe
dataset.fillna(0, inplace = True)

In [136]:
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

In [140]:
# Fazendo uma pergunta ao dataset para mostrar todos os que possuem zero quilometragem igual a zero
dataset.query('Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [141]:
# Agora todas as linhas e colunas estão devidamente preenchidas
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  258 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 24.4+ KB